Repository lunchclass/absolute, changes with the owners that CODEOWNERS names for each.
All owners: @romandev, @JayChl, @coconutperm, @nadongguri

CODEOWNERS:

# Absolute Project Owners
* @romandev

# There will be a lot of pull requests in each modules but we don't have enough
# owners for review process. So, we make the following people become temporary
# owners to digest each module reviews. They are not official owners who are
# nominated by official process but are much contributing to each modules.
# So, we believe that they can take responsibility for each modules.
# Push
server/push/* @JayChl
client/push/* @JayChl
client/service-worker*.js @JayChl

# Order
server/order/* @coconutperm

# Build
gulpfile.babel.js @nadongguri

Add PushRouter using Application.route (#365)
  server/push/controller/send_push.js
  server/push/router/push.router.js
Owners: @romandev

Add PushRouter using Application.route (#365)
  server/push/controller/send_push.js
  server/push/router/push.router.js
Owners: @romandev

Update gulpfile.babel.js
  gulpfile.babel.js
Owners: @nadongguri

Update package.json
  package.json
Owners: @romandev

unknown command goes to default (#378)
  gulpfile.babel.js
  package.json
Owners: @nadongguri, @romandev

unknown command goes to default (#378)
  gulpfile.babel.js
  package.json
Owners: @nadongguri, @romandev

add push class to control push notification (#364)
  client/app.js
  client/push/notification_manager.js
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl

add push class to control push notification (#364)
  client/app.js
  client/push/notification_manager.js
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl

Fix lint error in gulpfile.babel.js (part of import)
  gulpfile.babel.js
Owners: @nadongguri

Add apis to /api/push/token - POST : add or update push tokens using userId to server - GET : get push tokens using userId from server
  server/push/controller/push_controller.js
  server/push/model/token.js
  server/push/router/push.token.router.js
Owners: @romandev

Add new author in AUTHORS
  AUTHORS
Owners: @romandev

Update AUTHORS
  AUTHORS
Owners: @romandev

Fix lint error in gulpfile.babel.js (part of import) (#382)
  AUTHORS
  gulpfile.babel.js
Owners: @romandev, @nadongguri

Fix lint error in gulpfile.babel.js (part of import) (#382)
  AUTHORS
  gulpfile.babel.js
Owners: @romandev, @nadongguri

Fix filename from push.token.router.js -> push_token.router.js
  server/push/router/push_token.router.js
Owners: @romandev

import push module in service worker
  client/service-worker.js
  gulpfile.babel.js
Owners: @JayChl, @nadongguri

import push module in service worker
  client/service-worker-manager.js
  client/service-worker.js
Owners: @JayChl

import push module in service worker
  client/service-worker.js
  gulpfile.babel.js
Owners: @JayChl, @nadongguri

Add api /api/push/token for managing client push token (#383)
  server/push/controller/push_controller.js
  server/push/model/token.js
  server/push/router/push_token.router.js
Owners: @romandev

Add api /api/push/token for managing client push token (#383)
  server/push/controller/push_controller.js
  server/push/model/token.js
  server/push/router/push_token.router.js
Owners: @romandev

Apply the ESlint rule to 'gulpfile.babel.js'
  gulpfile.babel.js
Owners: @nadongguri

import push module in service worker
  client/service-worker-manager.js
  client/service-worker.js
  gulpfile.babel.js
Owners: @JayChl, @nadongguri

import push module in service worker
  client/service-worker.js
Owners: @JayChl

Add gulpfile.babel.js to the list for ESlint checking
  gulpfile.babel.js
Owners: @nadongguri

Apply the ESlint rule to 'gulpfile.babel.js' (#385)
  gulpfile.babel.js
Owners: @nadongguri

Apply the ESlint rule to 'gulpfile.babel.js' (#385)
  gulpfile.babel.js
Owners: @nadongguri
