Repository lunchclass/absolute, changes with the owners that CODEOWNERS names for each.
All owners: @romandev, @JayChl, @daehyunjimmy, @coconutperm, @nadongguri

CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# Absolute Project Owners
* @romandev

# There will be a lot of pull requests in each modules but we don't have enough
# owners for review process. So, we make the following people become temporary
# owners to digest each module reviews. They are not official owners who are
# nominated by official process but are much contributing to each modules.
# So, we believe that they can take responsibility for each modules.
# Push
server/push/* @romandev @JayChl @daehyunjimmy
client/push/* @romandev @JayChl @daehyunjimmy
client/service-worker*.js @romandev @JayChl @daehyunjimmy

# Order
server/order/* @romandev @coconutperm

# Build
gulpfile.babel.js @romandev @nadongguri

Fix some reviewed comments
  bootstrap/test/test_start.js
  bootstrap/test/test_update.js
  gulpfile.babel.js
  server/push/test/test_push.js
Owners: @romandev, @nadongguri

Returning promise for each TC instead of using done
  server/push/test/test_push.js
Owners: @romandev

Remove redundant stop task
  gulpfile.babel.js
Owners: @romandev, @nadongguri

add push and serviceworker apis to control push permission
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

Change push tokens for testing (PC - chrome / firefox)
  server/push/test/test_push.js
Owners: @romandev

send push information to server
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

typescript apply in client build sequence (#418)
  client/app.ts
  client/index.html
  gulpfile.babel.js
  package.json
  tsconfig.json
Owners: @romandev, @nadongguri

typescript apply in client build sequence (#418)
  client/app.ts
  client/index.html
  gulpfile.babel.js
  package.json
  tsconfig.json
Owners: @romandev, @nadongguri

remove unnecessary function
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

add some md & image files
  client/service-worker.md
  contribution/contribution.md
  contribution/image/architecture.png
  contribution/image/flow.png
  contribution/image/multi_platform_support.png
  payment.md
  server/server.md
Owners: @romandev

update:link with md files. README.md
  README.md
Owners: @romandev

update md link address
  README.md
Owners: @romandev

fix test md link address
  README.md
Owners: @romandev

fix readme wrong address
  README.md
Owners: @romandev

Update README.md
  README.md
Owners: @romandev

update link address to orign link address
  README.md
Owners: @romandev

apply typescirpt on server 1. Add new directory for typescirpt server source file. 2. Add new command 'start_ts' to run server by typescirpt code.
  gulpfile.babel.js
  server_ts/server.ts
Owners: @romandev, @nadongguri

Update README.md
  README.md
Owners: @romandev

Router refactoring (#351)
  server/authorization/controller/auth_controller.js
  server/authorization/router/auth.router.js
  server/authorization/router/auth_router.js
  server/order/router/order.router.js
  server/order/router/order_router.js
Owners: @romandev

Router refactoring (#351)
  server/authorization/controller/auth_controller.js
  server/authorization/router/auth.router.js
  server/authorization/router/auth_router.js
  server/order/router/order.router.js
  server/order/router/order_router.js
Owners: @romandev

add server test using mocha (#419)
  .appveyor.yml
  .travis.yml
  bootstrap/test/test_start.js
  bootstrap/test/test_update.js
  gulpfile.babel.js
  server/push/test/test_push.js
Owners: @romandev, @nadongguri

add server test using mocha (#419)
  .appveyor.yml
  .travis.yml
  bootstrap/test/test_start.js
  bootstrap/test/test_update.js
  gulpfile.babel.js
  server/push/test/test_push.js
Owners: @romandev, @nadongguri

change function to arror function
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

fix typo issue
  AUTHORS
  server/push/test/test_push.js
  server/worker_manager.js
Owners: @romandev

Fix typo issue (#434)
  AUTHORS
  server/push/test/test_push.js
  server/worker_manager.js
Owners: @romandev

Fix typo issue (#434)
  AUTHORS
  server/push/test/test_push.js
  server/worker_manager.js
Owners: @romandev

add service worker register check function
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

add prompt state
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

remove isServiceWorkerRegistered function
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

check comment
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

test commit
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

test commit
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

add push and service-worker functions to control push permission (#430)
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

add push and service-worker functions to control push permission (#430)
  client/push/push_manager.js
  client/service-worker-manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

Update README.md
  README.md
Owners: @romandev

change md path from abslout address to relative path
  README.md
Owners: @romandev

fix the review received
  README.md
Owners: @romandev

rollback License
  README.md
Owners: @romandev

add indexed db to store push userId
  client/common/db_manager.js
  client/push/push_manager.js
Owners: @romandev, @JayChl, @daehyunjimmy

add indexed db to store push userId
  client/common/db_manager.js
  client/push/push_manager.js
Owners: @romandev, @JayChl, @daehyunjimmy
